@import '../../variables';
@import url('https://fonts.googleapis.com/css?family=Raleway|Cousine|Staatliches|Roboto');

.view-comp {
  padding-top: $top-padding;
  text-align: center;
  margin-bottom: 20px;
  > h2 {
    padding: 20px $side-padding;
    margin: 20px auto;
    background: $gray-xdark;
    letter-spacing: 3px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: $gray-xlight-2;
    width: 70%;
    text-align: center;
    word-wrap: break-word;
  }
  > h3 {
    background: $gray-xdark;
    color: $gray-xlight-2;
    border-radius: 100px;
    padding: $top-padding $side-padding;
    margin: $top-padding auto;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    width: 50%;
  }
  .note {
    border-bottom: 1px solid black;
    width: 50%;
    padding: $top-padding $side-padding;
    margin: $top-padding auto;
    text-align: center;
    @media #{$max-medium} {
      width: 100%;
    }
  }
  .section {
    padding: 0 $side-padding;
    max-width: 100%;
    img {      
      margin: 5px 0;
      width: 80%;
      min-width: 300px;
      max-width: 500px;
      &.img-small {
        width: 40%;
        max-width: 300px;
      }
    }
    > div {
      color: $sub-text-color;
    }
    @media #{$max-medium} {
      img {
        width: 100%;
        min-width: 250px;
      }
    }
  }
}