@import '../../variables';
@import url('https://fonts.googleapis.com/css?family=Raleway|Cousine|Staatliches|Roboto');

.view-comp {
  margin-bottom: 20px;
  background-color: $green-primary-dark;
  width: 100%;
  @include flex-center;
  flex-direction: column;

  &__title {
    padding: 20px $side-padding;
    letter-spacing: 3px;
    margin: 10px 5px;
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $gray-xlight-2;
    width: 80%;
    text-align: left;

    @media #{$max-medium} {
      width: 100%;
      min-width: 250px;
      font-size: 50px;
      text-align: center;
    }
  }

  &__section {
    @include flex-center;
    flex-direction: column;
    width: 90%;

    &--title {
      border-bottom: 1px solid $gray-xlight-2;
      color: $gray-xlight-2;
      padding: $top-padding $side-padding;
      margin: $top-padding 10px;
      letter-spacing: 1px;
      text-align: left;
      font-weight: 700;
      font-family: 'Lato', sans-serif;
      width: 80%;
    }

    &--config {
      color: black;
      text-align: left;
      padding: 8px;
      
      > h4 {
        display: inline;
        font-size: 20px;
        color: $gray-xlight-2;
      }
      > p {
        display: inline;
      }
    }
    
    &--img {
      padding: $top-padding $side-padding;
      margin: $top-padding 10px;
      width: 80%;
      text-align: left;


      @media #{$max-medium} {
        width: 100%;
        min-width: 250px;
      }

      &-small {
        width: 100%;
        max-width: 300px;
        
      }
    }

    &--note {
      color: $gray-xdark;
      font-weight: 700;
      width: 80%;
      padding: $top-padding $side-padding;

      text-align: left;
      @media #{$max-medium} {
        width: 70%;
      }
    }
  } 
}