@import '../../variables';
@import url('https://fonts.googleapis.com/css?family=Raleway|Cousine|Staatliches|Roboto');

.view-comp {
  padding-top: $top-padding;
  > h2 {
    padding: $top-padding $side-padding;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
  }
  > h3 {
    background: $discord-blurple;
    border: 1px solid black;
    padding: $top-padding $side-padding;
    margin: $top-padding 0;
    letter-spacing: 1px;
    margin: 5px 0;
    font-family: 'Raleway', sans-serif;
    max-width: 700px;
  }
  .note {
    border: 1px solid black;
    width: 80%;
    padding: $top-padding $side-padding;
    margin: $top-padding 0;
    background: $discord-black;
    max-width: 600px;
    @media #{$max-medium} {
      width: 100%;
    }
  }
  .section {
    padding: 0 $side-padding;
    max-width: 100%;
    img {      
      margin: 5px 0;
      width: 80%;
      min-width: 400px;
      max-width: 600px;
      &.img-small {
        width: 40%;
        max-width: 300px;
      }
    }
    > div {
      color: $sub-text-color;
    }
    @media #{$max-medium} {
      img {
        width: 100%;
        min-width: 250px;
      }
    }
  }
}