@import '../../variables.scss';
/* The sidebar menu */
.sidenav {
  max-height: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1; /* Stay on top */
  top: $navbar-height; /* Stay at the top */
  left: 0;
  background-color: $discord-black; ; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: $top-padding;
  transition: all 0.3s ease-in-out;
  @media #{$max-medium} {
    margin-left: -200px;
    top: $navbar-height-small;
  }
  .sidenav-active {
    .sidenav-link {
      background: $discord-dark;
      img {
        background: $discord-black;
      }
    }
    pointer-events: none;
  }
  .sidenav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px 6px $side-padding;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $discord-blurple;
      img {
        background: $discord-black;
      }
    }
    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: $discord-dark;
      @media #{$max-medium} {
        width: 30px;
        height: 30px;
      }
    }
  }
}