.navbar-comp {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background: #0f743ccc;
  padding: 20px 10px;
  justify-content: space-between;
  width: 100%;
  .main-link {
    font-size: 50px;
    color: #ffffffdc;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .navbar-links {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #dfdfdfdc;
    margin-right: 20px;
    .nav-link {
      padding-left: 18px;
      text-align: right;
    }
    .active-link {
      color: white;
    }
    @media only screen and (max-width:768px) {
      font-size: 16px;
    }
  }
}