@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color:#3CB371;
    font-family: Arial, Helvetica, sans-serif;
}

a, a:link, a:visited {
    text-decoration: none;
}

#app {
    min-height: 82.2vh;
}

.r {
    color: red;
}