.footer-comp {
  display: flex;
  background: #0f743ccc;
  padding: 20px 10px;
  justify-content: space-between;
  color: white;
  width: 100%;

  .copyright {
    font-size: 16px;
    margin-left: 20px;
  }
  
  .footer-links {
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #dfdfdfdc;
    margin-right: 20px;
    > a {
      padding: 0 3px;
    }
  }
}