
@import '../../variables';

.footer-comp {
  display: flex;
  background: $green-dark;
  padding: $nav-padding $side-padding;
  justify-content: space-evenly;
  color: white;
  z-index: 10;

  .copyright {
    font-size: 16px;
  }
  
  .footer-links {
    font-size: 15px;
    display: flex;
    align-items: center;
    color: $gray-xmedium;
    > a {
      padding: 0 3px;
      &:hover {
        color: $gray-xlight;
      }
    }
  }
}