@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Raleway|Cousine|Staatliches|Roboto');
@import './variables.scss';
@import './animations.scss';


html, body {
    height: 100vh;
    min-width: 320px;
}

body {
    margin: 0;
    background-color: $green-primary-dark;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a, a:link, a:visited, a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a {
    transition: all 0.3s ease-in-out;
}

div, h2, h3, h4, h5, h6 {
    color: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100%;
    @include flex-center;
    flex-direction: column;
}

.slime-img {
    max-height: 300px;
    max-width: 400px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.slime-heading {
    color: $gray-xdark;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.r {
    color: red;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  justify-content: space-between;
}

.app-content {
  width: 100%;
}

.app h2 {
    display: flex;
    justify-content: center;
    margin: 2px;
}
.button-container {
    @include flex-center;
    flex-wrap: wrap;
}
.discord-link:link, .discord-link:visited {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: $gray-xlight-2;
    display: inline-block;
    width: 300px;
    padding: 15px 40px;
    margin: 25px;
    background: $green-xdark;
    border: solid 1px $gray-xlight-2;
    transition: all 0.2s;
    &:hover {
        background: $gray-xdark;
        color: white;
        border-color: $gray-xdark;
    };
}

.description {
    font-family: 'Staatliches', 'sans-serif';
}

.card-container {
    @include flex-center;
    flex-wrap: wrap;
    width: 65%;

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.card {
    @include flex-center;
    flex-direction: column;
    margin: 20px;
    width: 250px;
    height: 250px;
    background-color: rgba(white, 0.6);
    box-shadow: 0 5px 10px rgba(black, .15);
    padding: 25px;
    border-radius: 5px;
    transition: transform .3s;

    &:hover {
        transform: translateY(-5px) scale(1.03);
    }
    @media #{$max-medium} {
        width: 100vh;
      }
}

.card-img {
    font-size: 30px;
    padding: 5px;
}
.card-title {
    @include flex-center;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.card-description {
    @include flex-center;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}