

/* PADDING */

$side-padding: 15px;
$nav-padding: 18px;

/* COLORS */

$green-xdark: #0f743ccc;
$green-dark: #1f7043;

$gray-xlight: #ffffffdc;
$gray-xmedium: #dfdfdfdc;

$sub-text-color: #3f3131ea;